<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="InventoryApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inventorial</title>
        <link rel="stylesheet" href="styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
        <script src="app.js" charset="utf-8"></script>
    </head>
    <body ng-controller='Controller as ctrl'>
        <div id='auth-forms' ng-if='!ctrl.loggedInUser'>
            <div id="login-auth" ng-show='ctrl.haveAcct'>
                <h1><u>Log In</u></h1>
                <form ng-submit='ctrl.login()'>
                    <div class="auth-form-elmt">
                        <label for="username">Username: </label>
                        <input type="text" name="username" ng-model="ctrl.usernameId"/>
                    </div>
                    <div class="auth-form-elmt">
                        <label for="password">Password: </label>
                        <input type="password" name="password" ng-model="ctrl.passwordId"/>
                    </div>
                    <input class='btn btn-primary' type="submit" value="Log In"/>
                </form>
            </div>

            <div id="signup-auth" ng-hide='ctrl.haveAcct'>
                <h1><u>Sign Up</u></h1>
                <form ng-submit='ctrl.createUser()'>
                    <div class="auth-form-elmt">
                        <label for="username">Create Username: </label>
                        <input type="text" name="username" ng-model="ctrl.username"/>
                    </div>
                    <div class="auth-form-elmt">
                        <label for="password">Create Password: </label>
                        <input type="password" name="password" ng-model="ctrl.password"/>
                    </div>
                    <input class='btn btn-primary' type="submit" value="Sign Up"/>
                </form>
            </div>

            <p id='auth-fail' ng-show='ctrl.authFailure'></p>

            <button id='toggle-auth-btn' ng-click='ctrl.toggleAuthForm($event)'>Need An Account?</button>
        </div>

        <div ng-if='ctrl.loggedInUser.username'>
            <div class="intro">
                <h1>Welcome, {{ctrl.loggedInUser.username}}</h1>
                <button class='btn btn-info' ng-click='ctrl.logout()'>Logout</button>
            </div>

            <div id='show-hide-btns'>
                <button class='btn btn-secondary' ng-click='ctrl.toggleDisplayAdd($event)'>Add Item</button>
                <button class='btn btn-secondary' ng-click='ctrl.toggleDisplayItems($event)'>Hide All Items</button>
                <button class='btn btn-secondary' ng-click='ctrl.toggleDisplaySearch($event)'>Search Items</button>
                <button class='btn btn-warning' ng-show='ctrl.useSearch' ng-click='ctrl.endSearch()'>Close Search View</button>
            </div>

            <div id='search-div'>
                <h1>Item Search</h1>
                <form ng-submit='ctrl.search()'>
                    <div class="search-form-elmt">
                        <label for="name">Product Name: </label>
                        <input type="text" name="name" value="item.name" ng-model="ctrl.nameSearch"/>
                    </div>
                    <div class="search-form-elmt">
                        <label for="min-price">Price (min): </label>
                        <input type="number" name="min-price" min="0" ng-model="ctrl.minPriceSearch"/>
                    </div>
                    <div class="search-form-elmt">
                        <label for="max-price">Price (max): </label>
                        <input type="number" name="max-price" min="0" ng-model="ctrl.maxPriceSearch"/>
                    </div>
                    <div class="search-form-elmt">
                        <label for="min-quantity">Quantity (min): </label>
                        <input type="number" name="min-quantity" min="0" ng-model="ctrl.minQuanSearch"/>
                    </div>
                    <div class="search-form-elmt">
                        <label for="max-quantity">Quantity (max): </label>
                        <input type="number" name="max-quantity" min="0" ng-model="ctrl.maxQuanSearch"/>
                    </div>
                    <input type="submit" value="Search"/>
                </form>
            </div>

            <div id="add-item-div">
                <h1>Add Item</h1>
                <form id='add-item-form' ng-submit='ctrl.addItem()'>
                    <div class="add-form-elmt">
                        <label for="name">Product Name: </label>
                        <input type="text" name="name" ng-model="ctrl.name"/>
                    </div>
                    <div class="add-form-elmt">
                        <label for="price">Price: </label>
                        <input type="number" name="price" min="0" ng-model="ctrl.price"/>
                    </div>
                    <div class="add-form-elmt">
                        <label for="quantity">Quantity: </label>
                        <input type="number" name="quantity" min="0" ng-model="ctrl.quantity"/>
                    </div>
                    <input type="submit" value="Add Item"/>
                </form>
            </div>

            <hr/>

            <div class='item-div'>
                <div id='all-items' ng-hide='ctrl.useSearch'>
                    <h2 class='items-heading' ng-hide='ctrl.itemList.length <= 0'>Items</h2>
                    <h2 class='items-heading' ng-show='ctrl.itemList.length <= 0'>No Items Here</h2>
                    <div class='items-container'>
                        <div ng-repeat='item in ctrl.itemList'>
                            <div class="item-listing">
                                <h3>{{item.name}}</h3>
                                <p>Price: ${{item.price}}</p>
                                <p>Quantity: {{item.quantity}}</p>
                                <div class="quantity-btns">
                                    <button class='btn btn-success' ng-click='ctrl.incrementQuantity(item)'>INCR</button>
                                    <button class='btn btn-danger' ng-click='ctrl.decrementQuantity(item)'>DECR</button>
                                </div>
                                <button ng-click='ctrl.deleteItem(item.id)'>REMOVE</button>
                                <details>
                                    <summary>Edit Item</summary>
                                    <form class='edit-form' ng-submit='ctrl.handlePut(item)'>
                                        <div class="edit-form-elmt">
                                            <label for="name">Product Name: </label>
                                            <input type="text" name="name" value="item.name" ng-model="ctrl.nameEdit"/>
                                        </div>
                                        <div class="edit-form-elmt">
                                            <label for="price">Price: </label>
                                            <input type="number" name="price" min="0" ng-model="ctrl.priceEdit"/>
                                        </div>
                                        <div class="edit-form-elmt">
                                            <label for="quantity">Quantity: </label>
                                            <input type="number" name="quantity" min="0" ng-model="ctrl.quantityEdit"/>
                                        </div>
                                        <input type="submit" value="Submit Edits"/>
                                    </form>
                                </details>
                            </div>
                        </div>
                    </div>
                </div>

                <div id='search-items' ng-show='ctrl.useSearch' ng-hide='!ctrl.useSearch'>
                    <h2 class='items-heading' ng-hide='ctrl.searchItemList.length <= 0'>Search List</h2>
                    <h3 class='items-heading' ng-show='ctrl.searchItemList.length <= 0'>No Items Matched Your Search</h3>
                    <div class='items-container'>
                        <div ng-repeat='item in ctrl.searchItemList'>
                            <div class="item-listing">
                                <h3>{{item.name}}</h3>
                                <p>Price: ${{item.price}}</p>
                                <p>Quantity: {{item.quantity}}</p>
                                <div class="quantity-btns">
                                    <button class='btn btn-success' ng-click='ctrl.incrementQuantity(item)'>INCR</button>
                                    <button class='btn btn-danger' ng-click='ctrl.decrementQuantity(item)'>DECR</button>
                                </div>
                                <button ng-click='ctrl.deleteItem(item.id)'>REMOVE</button>
                                <details>
                                    <summary>Edit Item</summary>
                                    <form class='edit-form' ng-submit='ctrl.handlePut(item)'>
                                        <div class="search-edit-form-elmt">
                                            <label for="name">Product Name: </label>
                                            <input type="text" name="name" value="item.name" ng-model="ctrl.nameEdit"/>
                                        </div>
                                        <div class="search-edit-form-elmt">
                                            <label for="price">Price: </label>
                                            <input type="number" name="price" min="0" ng-model="ctrl.priceEdit"/>
                                        </div>
                                        <div class="search-edit-form-elmt">
                                            <label for="quantity">Quantity: </label>
                                            <input type="number" name="quantity" min="0" ng-model="ctrl.quantityEdit"/>
                                        </div>
                                        <input type="submit" value="Submit Edits"/>
                                    </form>
                                </details>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
