#add-item-div, #search-div {
    display: none;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0.4em;
}

.items-heading {
    text-align: center;
    margin-bottom: 0;
}

.items-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.item-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    margin-top: 0;
}

.item-listing p {
    margin-bottom: 0;
}

.quantity-btns {
    margin-bottom: 0.7em;
}

.edit-form {
    text-align: center;
}

#add-item-div, #search-div, #show-hide-btns, #auth-forms {
    text-align: center;
    margin-bottom: 0.7em;
}

#toggle-auth-btn {
    margin-top: 0.7em;
}
