#add-item-div, #search-div {
    display: none;
}

.items-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.item-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.item-listing p {
    margin-bottom: 0;
}

.quantity-btns {
    margin-bottom: 0.7em;
}
